/* Variabili*/
:root {
    --bianco: #ffffff;
    --verdone: #2c3e50;
    --verdino: #1abc9c;
    --bordeaux: #ba4b63;
    --verdemare: #1ea4b6;
    --nerone: #140f0f;
    --azzurro: #1c83c1;
    --blu: #0e38b5;
    --sabbia: #ccb2a3;
}

/* Menu Navigazione*/

nav {
    color: var(--bianco);
    height: 5.625rem;
}

/* Sezione Start*/

.start {
    height: 30.625rem;
    background-color: var(--verdino);
}

.start img{
    width: 14.0625rem;
    height: 16.25rem;
    border: .125rem dashed darkgreen;
}

.start h1, 
.portofolio h2 {
    color: var(--bianco);
}

/* Sezione Portfolio*/

.portfolio {
    width: 100%; 
    background-color: var(--bianco);
}

.portfolio div {
    height: 22.5rem;
    width: 30.625rem;
    border: .125rem dashed black;
}

.bordeaux {
    background-color: var(--bordeaux);
}

.verdemare {
    background-color: var(--verdemare);
}

.nerone {
    background-color: var(--nerone);
}

.azzurro {
    background-color: var(--azzurro);
}

.blu {
    background-color: var(--blu);
}

.sabbia {
    background-color: var(--sabbia);
}

/*Sezione About*/
.about {
    height: 30.625rem;
    background-color: var(--verdino);
}