/* Import*/
@import url(variables.css);
@import url(utilities.css);

/* Import*/

/*Header*/

nav {
    background-color: var(--ms_primary-color);
    color: var(--bianco);
    height: 5.625rem;
}

/*Header*/

/*Main*/


/*Header*/

#start {
    background-color: var( --ms_primary-light);
    color: var(--bianco);
    height: 24.375rem;
    margin: 0 auto;
    
}

#start img {
    width: 14.0625rem;
    display: block;
}

.ms-star {
 height: .2125rem;
 width: 6rem;
 background-color: var(--bianco);
 margin: 1.25rem;
}

#portfolio {
    color: var(--nerone);
    height: 156.25rem;
}

#about {
    background-color: var(--ms_primary-light);
    height: 43.75rem;
    color: var(--bianco);
}

#contact {
    color: var(--ms_primary-light);
    height: 36.875rem;
    color: var(--nerone)
}

footer {
    background-color: var(--ms_primary-color);
    height: 35rem;
    color: var(--bianco);
}