/* Import*/
@import url(variables.css);
@import url(utilities.css);

/* Import*/

/*Header*/

nav {
    background-color: var(--ms_primary-color);
    color: var(--bianco);
    height: 5.625rem;
}

/*Header*/

/*Main*/


/*Header*/

.container {
    max-width: 95rem;
    margin: 0 auto;
}

#start {
    background-color: var( --ms_primary-light);
    color: var(--bianco);
    margin: 0 auto;
    
}

#start img {
    width: 30.625rem;
}

#portfolio {
    color: var(--nerone);
    height: 156.25rem;
    width: 100%;
}

#star-black {
    background-color: var(--nerone);
}

#portfolio img {
    overflow: 0 auto;
    border-radius: 1.25rem;
}

#about {
    background-color: var(--bianco);
    height: 43.75rem;
    color: var(--bianco);
}

#contact {
    color: var(--ms_primary-light);
    height: 36.875rem;
    color: var(--nerone)
}

footer {
    background-color: var(--ms_primary-color);
    height: 35rem;
    color: var(--bianco);
}