:root {
    --ms_primary-color:#2c3e50;
    --ms_primary-light:#1abc9c;
    --ms_secondary-color: #ba4b63;
    --bianco: #ffffff;
    --verdone: #2c3e50;
    --verdino: #1abc9c;
    --bordeaux: #ba4b63;
    --verdemare: #1ea4b6;
    --nerone: #140f0f;
    --azzurro: #1c83c1;
    --blu: #0e38b5;
    --sabbia: #ccb2a3;
}